.hero {
  @extend .rale;
  position: relative;
  background-attachment: fixed;
  top: -55px;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #292929;
    opacity: 0.3;
    z-index: 2;
  }
  .background-image {
    background-repeat: no-repeat;
    background-size: cover;
    top: -55px;
  }
  h1 {
    letter-spacing: 17px;
  }
  h1, h5 {
    color: white;
  }
  h5 {
    font-size: 16px;
    font-weight: 100;
  }
  .container {
    z-index: 9;
  }

  .align-bottom {
    z-index: 9;
    width: 100%;
  }
  .menu {
    li {
      float: none;
    }
  }
  .social-list {
    z-index: 9;
    text-align: center;
    svg {
      fill: white;
    }
  }
}