.nav-container {
  z-index: 16;
  position: relative;
  background: white;
}
.nav-bar {
  height: 55px;
  max-height: 55px;
  line-height: 53px;
  border-bottom: 1px solid #ccc;
  h2 {
    @extend .rale;
    font-size: 20px;
    line-height: 55px;
    color: #292929;
    font-weight: 600;
    letter-spacing: 8px;
    opacity: 0.87;
    text-shadow: 1px 1px rgba(0,0,0,.04);
  }

  .module {
    height: 55px;
  }

  a {
    @extend .rale;
    text-transform: uppercase;
    font-weight: 300;
    font-weight: 600;
    letter-spacing: 1px;
    white-space: normal;
  }
}