.splash-pool-gallery {
  .swimmer {
    display: inline-block;
    width: 33.33%;
    overflow: hidden;
    &:before {
      transition: all .3s ease;
      transform: scale(1.2);
      opacity: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      &:before {
        opacity: .8;
      }
      .lower {
        opacity: 1;
        transform: translate3d(0, -24px, 0);
      }
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .lower {
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    transform: translate3d(0,0,0);
    text-align: center;
    width: 100%;
    @extend .rale;
    h6 {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;
      font-weight: 600;
      line-height: 24px;
      font-size: 16px;
      margin-bottom: 12px;
    }
    h7 {
      font-weight: 600px;
      font-size: 13px;
      color: white;
    }
  }
}

.splash-pool {
  position: relative;
}